absl-py==0.15.0
affine==2.3.0
alembic @ file:///home/conda/feedstock_root/build_artifacts/alembic_1636656371607/work
anyio @ file:///Users/runner/miniforge3/conda-bld/anyio_1637703559178/work/dist
appnope @ file:///Users/runner/miniforge3/conda-bld/appnope_1635819647402/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1640817743617/work
argon2-cffi-bindings @ file:///Users/runner/miniforge3/conda-bld/argon2-cffi-bindings_1640855189619/work
astunparse==1.6.3
async-generator==1.10
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1640799537051/work
autopage==0.5.0
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1619719576210/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
beautifulsoup4==4.10.0
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1629908509068/work
blinker==1.4
bokeh @ file:///Users/runner/miniforge3/conda-bld/bokeh_1637615242320/work
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1636012310340/work
cachetools==5.0.0
certifi==2021.10.8
certipy==0.1.3
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1625835561163/work
chardet==4.0.0
charset-normalizer==2.0.11
click==7.1.2
click-plugins==1.1.1
cliff==3.10.0
cligj==0.7.2
cloudpickle==2.0.0
cmaes==0.8.2
cmd2==2.3.3
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
colorlog==6.6.0
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1639699399793/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
Cython==0.29.27
debugpy @ file:///Users/runner/miniforge3/conda-bld/debugpy_1636043372408/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
entrypoints @ file:///Users/runner/miniforge3/conda-bld/entrypoints_1602701742773/work/dist/entrypoints-0.3-py2.py3-none-any.whl
et-xmlfile==1.1.0
flatbuffers==1.12
flit_core @ file:///home/conda/feedstock_root/build_artifacts/flit-core_1640697294996/work/source/flit_core
future==0.18.2
gast==0.4.0
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1635085722655/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1641536403425/work
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.19.1
greenlet @ file:///Users/runner/miniforge3/conda-bld/greenlet_1635836883203/work
grpcio==1.34.1
h5py==3.1.0
hyperopt==0.2.5
idna==3.3
imagecodecs==2021.11.20
imagecodecs-lite==2020.1.31
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1594044661732/work
importlib-metadata==4.10.1
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1635615662634/work
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1630405879879/work/dist/ipykernel-6.3.1-py3-none-any.whl
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1630172572143/work
ipython-genutils==0.2.0
ipywidgets==7.6.5
jedi @ file:///Users/runner/miniforge3/conda-bld/jedi_1637175422032/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1636510082894/work
joblib==1.0.0
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1641134858126/work
jupyter==1.0.0
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1637611911738/work
jupyter-console==6.4.0
jupyter-core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1636814374382/work
jupyter-server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1639084645710/work
jupyter-server-mathjax @ file:///home/conda/feedstock_root/build_artifacts/jupyter-server-mathjax_1622646097887/work
jupyter-telemetry @ file:///home/conda/feedstock_root/build_artifacts/jupyter_telemetry_1605173804246/work
jupyterhub @ file:///Users/runner/miniforge3/conda-bld/jupyterhub-feedstock_1626468646172/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1630517650721/work
jupyterlab-git @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab-git_1629374666273/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1641592475363/work
jupyterlab-widgets==1.0.2
keras==2.7.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1635836828929/work
libclang==13.0.0
Mako @ file:///home/conda/feedstock_root/build_artifacts/mako_1637170539581/work
Markdown==3.3.6
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1635833661769/work
matplotlib==3.3.3
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1631080358261/work
mistune @ file:///Users/runner/miniforge3/conda-bld/mistune_1635844768785/work
mkl-fft==1.3.1
mkl-random @ file:///opt/concourse/worker/volumes/live/f196a661-8e33-4aac-63bc-efb2ff50e035/volume/mkl_random_1626186080069/work
mkl-service==2.4.0
nbclassic @ file:///home/conda/feedstock_root/build_artifacts/nbclassic_1635436909771/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1637327213451/work
nbconvert @ file:///Users/runner/miniforge3/conda-bld/nbconvert_1641352045547/work
nbdime @ file:///home/conda/feedstock_root/build_artifacts/nbdime_1635269257164/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1617383142101/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1638419302549/work
networkx==2.6.3
nose==1.3.7
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1628690102344/work
numpy==1.22.1
oauthlib==3.2.0
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
openpyxl @ file:///tmp/build/80754af9/openpyxl_1632777717936/work
opt-einsum==3.3.0
optuna==2.7.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pamela==1.0.0
pandas==1.2.1
pandas-bokeh==0.5
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
patsy==0.5.2
pbr==5.8.1
pexpect==4.8.0
pickleshare @ file:///Users/runner/miniforge3/conda-bld/pickleshare_1602535631757/work
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1636559098787/work
pluggy @ file:///opt/concourse/worker/volumes/live/11367f05-2a2a-4aa1-6571-ace2b809dd5d/volume/pluggy_1633715219465/work
pmdarima==1.8.4
prettytable==3.1.0
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1635538335951/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1639065841292/work
protobuf==3.19.4
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
py @ file:///tmp/build/80754af9/py_1607971587848/work
pyaml==21.10.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pycurl==7.44.1
pydot==1.4.2
pydotplus==2.0.2
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1641580240686/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1638819640841/work
PyMySQL @ file:///opt/concourse/worker/volumes/live/91bc5664-f34a-482d-7efc-f19bbd7a1347/volume/pymysql_1610482895985/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1633192417276/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1636757021002/work
pyperclip==1.8.2
pyrsistent @ file:///Users/runner/miniforge3/conda-bld/pyrsistent_1636052947656/work
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1635862551662/work
pystac==0.5.6
pytest==6.2.5
pytest-runner @ file:///tmp/build/80754af9/pytest-runner_1623663836848/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-json-logger @ file:///home/conda/feedstock_root/build_artifacts/python-json-logger_1602545356084/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
PyWavelets==1.2.0
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1636139902075/work
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1635877502229/work
qtconsole==5.2.2
QtPy==2.0.0
radiant-mlhub==0.1.3
rasterio==1.2.10
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
ruamel.yaml @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml_1640809718554/work
ruamel.yaml.clib @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml.clib_1636815730272/work
scikit-image==0.18.3
scikit-learn==0.23.2
scikit-optimize==0.8.1
scipy==1.5.3
seaborn==0.11.1
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1628511208346/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1611376390914/work
sniffio @ file:///Users/runner/miniforge3/conda-bld/sniffio_1635844987423/work
snuggs==1.4.7
soupsieve==2.3.1
SQLAlchemy @ file:///Users/runner/miniforge3/conda-bld/sqlalchemy_1640260542562/work
statsmodels @ file:///opt/concourse/worker/volumes/live/48e7bc2f-b3eb-4c0c-72cd-214d083f4eb6/volume/statsmodels_1635163036886/work
stevedore==3.5.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.5.1
tensorflow-estimator==2.5.0
tensorflow-io-gcs-filesystem==0.23.1
termcolor==1.1.0
terminado @ file:///Users/runner/miniforge3/conda-bld/terminado_1636052334098/work
testpath @ file:///home/conda/feedstock_root/build_artifacts/testpath_1621261527237/work
Theano==1.0.4
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tifffile==2019.7.26.2
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
torch==1.7.0
torchvision==0.8.1
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1635819838703/work
tqdm==4.56.2
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1635260543454/work
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1638334978229/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1641584929973/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1638949723239/work
Werkzeug==2.0.2
wget==3.2
widgetsnbextension==3.5.2
wrapt==1.12.1
xgboost==1.3.3
xlrd @ file:///tmp/build/80754af9/xlrd_1608072521494/work
yellowbrick==1.3.post1
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1641731510635/work
